node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
package-lock.json
package-lock.json~6718d3b56e330ccac274b924b32c040f4844147e
/my-app/config/firbase.js

# macOS
.DS_Store

.package-lock.json
/my-app/config/firbase.js
/components/NewPageIgnored.js





